.footer {
    background-color: #5c7fa2;
    color: var(--ifm-footer-color);
    padding: var(--ifm-footer-padding-vertical) var(--ifm-footer-padding-horizontal);
}


footer {
    display: block;
    unicode-bidi: isolate;
}