.about, .ingredients{
    background-color: transparent;
    padding: 40px 0px;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 50px;
    text-align: left;
  }
.ingredients ul li{
    margin-left: -32px;
    list-style-type:none ;  
    color: #040001a8;
    font-family: 'Poppins';
    margin-top: 10px;
  }
.about img , .ingredients img{
    max-width:100%;
    border-radius: 10px;
   
  }

.about h2, .ingredients h2, .paralex h2{
    font-size: 32px;
    font-weight: bold;
    width: 80%;
    margin:20px 0px ;
    color: #3f0815;
    font-family: 'Tajawal';
    line-height: 38px;
 
    
}

.about p, .ingredients p, .paralex p {
    font-size: 16px;
    line-height: 28px;
    color: #040001a8;
    font-family: 'Poppins';
    margin-top: 30px;
 
}

.about button, .ingredients button, .blog button {
    background-color:#7c0f28 ;
    border: 2px solid #7c0f28;
    box-sizing: border-box;
    width: 140px;
    height: 40px;
    text-align: center;
    transition: .2s ease;
    margin-top: 20px;
}

.about button a, .ingredients button a, .blog button a {
    display: block;
    color: #fff;
    font-family: 'Tajawal';
    text-decoration: none !important;
    font-weight: bold;
    font-size: 18px;
    /*text-transform: uppercase;*/

}

.about button:hover a, .ingredients button:hover a, .blog button:hover a{
    color: #7c0f28;
}
.about button:hover, .ingredients button:hover, .blog button:hover{
    background-color: #fff;
   
}

.paralex{
    background: url("../../assets/header1.jpg") center no-repeat;
    background-size:cover;
    padding: 80px 0;
    margin-top: 10px;

}
.space100 {
    margin-bottom: -50px;
}
.paralex h2{
    width: 100%;
    font-size: 35px;
}
.paralex p{
    font-size: 13px;
}
.paralex a {
    font-size: 17px;
    margin:20px 0px;
    font-family: 'Tajawal';
    color: #7c0f28;
    text-decoration: none !important;

}
.blog{
    padding: 90px 50px;
    overflow: hidden;
    width:100%;
    height: auto;
}

.blog .row:first-child{
    text-align: center;
    margin: 25px 0px;
}
 

.blog h2{
    font-size: 30px;
    font-weight: bold;
    width: 100%;
    color: #3f0815;
    font-family: 'Tajawal';
    line-height: 38px;
 
}
.blog img {
    max-width:100%;
    border-radius: 15px;

  }

.blog p{
    font-size: 16px;
    line-height: 28px;
    color: #040001a8;
    font-family: 'Poppins';
    margin-top: 30px;
}

.blog .box {
    width: 100%;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    border: 1px solid #fff;
    box-sizing: border-box;
    margin-top: 10px ;
    border-radius: 5px;
}

.blog .box h5{
    color:#7c0f28;
    font-family: 'Tajawal';
    font-size: 22px;
    margin: 15px 0px;

}

.blog .box span {
    display: block;
    color:#444;
    font-family: 'Tajawal';
    font-size: 16px;
    margin:10px 0px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.blog .box h6{
    color:#7c0f28;
    font-size: 25px;
    font-family: 'Tajawal';
}