.about, .ingredients{
    background-color: transparent;
    padding: 40px 0px;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 50px;
    text-align: left;
  }
.ingredients ul li{
    margin-left: -32px;
    list-style-type:none ;  
    color: #040001a8;
    font-family: 'Poppins';
    margin-top: 10px;
  }
.about img , .ingredients img{
    max-width:100%;
    border-radius: 10px;
   
  }

.about h2, .ingredients h2, .paralex h2{
    font-size: 32px;
    font-weight: bold;
    width: 80%;
    margin:20px 0px ;
    color: #3f0815;
    font-family: 'Tajawal';
    line-height: 38px;
 
    
}

.about p, .ingredients p, .paralex p {
    font-size: 16px;
    line-height: 28px;
    color: #040001a8;
    font-family: 'Poppins';
    margin-top: 30px;
 
}

.about button, .ingredients button{
    background-color:#7c0f28 ;
    border: 2px solid #7c0f28;
    box-sizing: border-box;
    width: 140px;
    height: 40px;
    text-align: center;
    transition: .2s ease;
    margin-top: 20px;
}

.about button a, .ingredients button a{
    display: block;
    color: #fff;
    font-family: 'Tajawal';
    text-decoration: none !important;
    font-weight: bold;
    text-transform: uppercase;

}

.about button:hover a, .ingredients button:hover a{
    color: #7c0f28;
}
.about button:hover, .ingredients button:hover{
    background-color: #fff;
   
}

.paralex{
    background: url("../../assets/header1.jpg") center no-repeat;
    background-size:cover;
    padding: 80px 0;
    margin-top: 10px;

}

.paralex h2{
    width: 100%;
    font-size: 35px;
}
.paralex p{
    font-size: 13px;
}
.paralex a {
    font-size: 17px;
    margin:20px 0px;
    font-family: 'Tajawal';
    color: #7c0f28;
    text-decoration: none !important;

}