.slider{
    background-color: #7c0f28;
    border: 1px solid #7c0f28;
    width: 100%;
    max-width: 100%;
    text-align: center;
    padding: 100px 0px; /* Augmentation de l'espacement en haut et en bas */
    height: 600px; /* Augmentation de la hauteur de la section */
}
.carousel{
    background-color: rgb(255, 255, 255);
    margin: 40px 0px;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 25px 0px;
   
}
.coursel img {
    border-radius: 90%;
    max-width: 70px; /* Taille maximale pour la responsivité */
    height: auto; /* Permet de conserver les proportions */
    margin: 35px 0px;
    margin-bottom: 166px;
    margin-top: 10px;
  }

.carousel-indicators {
  
    background-color: black;
}

.carousel-caption p{
    color :rgba(4, 1, 1, 0.808);
    display: block; 
    font-size: 20px;  
  
}


.carousel-caption span {
    color :#7c0f28;
    
    font-size: 15px;
    line-height: 30px;
    font-family: 'Poppins';
   
}