header {
    background: url("../../assets/header.jpg") center no-repeat;
    background-size: cover;
    text-align: left;
    padding: 10% 0; /* Ajustez le padding en pourcentage pour une meilleure adaptation */
    margin-top: 0px;
}

@media (max-width: 768px) {
    header {
        padding: 20% 0; /* Ajustez le padding pour les écrans plus petits */
    }
}

@media (max-width: 576px) {
    header {
        padding: 30% 0; /* Ajustez le padding pour les écrans encore plus petits */
    }
}



header .row{
    margin : 55px 0px;
}
header h2{
    color:#7c0f28;
    font-size: 50px;
    line-height: 60px;
    font-family: 'Tajawal',sans-serif; 
    font-size: bold;
    width: 80%;

}

header p{
    color:#333;
    font-family: 'Tajawal',sans-serif; 
    margin: 15px 0px;
  
}

header Button{
    width: 150px;
    height: 50px;
    background-color: #7c0f28;
    border: 2.5px solid #7c0f28;
    box-sizing: border-box ;
    text-align: center;
    color: #fff;
    margin: 20px 10px 20px 0px;
    font-weight: bold;
    /*text-transform: uppercase;*/
}
header Button:hover{
    transition: .2s ease-in-out;
}


header Button:last-of-type{
    background-color: #fff;
    color:#000000;
}

header Button:first-of-type:hover{
    background-color: #fff;
    color:#7c0f28;
}

header Button:last-of-type:hover{
    background-color: #7c0f28;
    color:#fff;

}




