.sectionNumber {
    background-color: #90112f;
    padding: 25px 0px;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 0px;
  }

.sectionNumber .row{
    margin: 10px 0px;
}
  .sectionNumber h2{
    font-size: 40px;
    margin: 10px 0px;
    color: #fff;
    font-family: 'Tajawal' ;
}
.sectionNumber h6{
 
  color: #fff;
  font-family: 'Tajawal' ;
  letter-spacing: 1px ;
}